//- Interview Camille BTS Assurance 
mj-section(background-color='#EDF2F7' padding-left='17px' padding-right='17px')
    mj-column(width='50%' padding='8px')
        mj-image(padding='0' border='none' width='480px' fluid-on-mobile='true' target='_blank' src='https://i.ibb.co/RjBLrcJ/let2-062024.jpg' href='https://ecosup-assurance.fr/interview-camille/' alt='Camille G étudiante en BTS Assurance à Ecosup Campus')/
    mj-column(width='50%' padding='8px')
        mj-text(padding='0' align='left' font-size='14px' font-weight='900' color='#944694' line-height='18px' text-transform='uppercase') Interview
        mj-text(padding='0' align='left' font-size='20px' font-weight='700' line-height='24px' color='#684092') Camille a choisi Ecosup Assurance pour préparer le BTS Assurance
        mj-text(padding='0' font-size='16px' line-height='20px' font-weight='400') Camille, 20 ans finit sa licence de STAPS pour s'orienter vers les métiers de l'Assurance et préparer le BTS Assurance en alternance. Dans cet interview, elle nous explique les raisons de son choix
        mj-text(align='right' color='#BA4995' font-weight='700') #[a(href='https://ecosup-assurance.fr/interview-camille' style='color:#BA4995;text-decoration:none;' target='_blank') Lire la suite...]