//- Dates rentrée classes
mj-section(background-color='#2D3748' padding='15px')
    mj-column(width="85%")
        mj-social(padding='0' font-size="16px" line-height='20px' font-weight="500" icon-size="40px" inner-padding="5px 15px 5px 0px" color="#BA4995" mode="vertical")
            mj-social-element(src="https://i.ibb.co/Msc2sh7/calendrier.png" alt="icon calendrier") Rentrée des BACHELOR Chargé de Clientèles en Assurance et Banque : #[span(style="color:#ffffff;") Mercredi 4&zwnj; s&zwnj;eptembre 2024 à 10h]
            mj-social-element(src="https://i.ibb.co/Msc2sh7/calendrier.png" alt="icon calendrier") Rentrée des BTS Assurance : #[span(style="color:#ffffff;") Lundi 9&zwnj; s&zwnj;eptembre 2024 à 14h]